<form method="post" action="{{ path('site_delete', {'id': site.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce site?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site.id) }}">
    <button class="btn btn-danger d-inline-flex mr-2">Supprimer</button>
</form>
