<nav>
        <h2>Filtrer les sorties</h2>
        {# nouveau formulaire de recherche #}
        {{ form(formRechercher) }}

        <div>
            <a href="{{ path('sortie_new') }}" class="btn btn-primary  justify-content-center d-none  d-lg-inline-block ">Nouvelle sortie</a>
        </div>
</nav>