<nav>
        <h2>Filtrer les sorties</h2>
        {# nouveau formulaire de recherche #}
        {{ form(formRechercher) }}

        <div>
            <a href="{{ path('sortie_new') }}" class="btn btn-primary d-inline justify-content-center">Nouvelle sortie</a>
        </div>
</nav>