{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <div class="Container-fluid mt-5">
        <div class="row">
            <div class="card col-md-8 offset-2 p-0">
                <div  class="card-header">
        <h1>Nos sorties</h1>
    </div>
    <div class="card-text mt-3 p-3">

    <table class="table table-borderless table-hover">
        <thead class=".thead-light">
        <tr>
            <th>Nom</th>
            <th>Lieu</th>
            <th>Rendez-vous</th>
            <th>Infos</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.lieu.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Il n'y a pas de sorties prévues pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
{% endblock %}