{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}<div class="Container-fluid mt-5 d-md-none ">
    <div class="row">
        <div class="card col-md-8 offset-2 p-0">
            <p>Cette page n'est pas accèssible pour les smartphones</p>
        </div>
    </div>
</div>

<div class="Container-fluid mt-5 d-none d-md-block">
    <div class="row">
        <div class="card col-md-8 offset-2 p-0">
            <div  class="card-header">
                <h1>Modifier une sortie</h1>
            </div>
            <div class="card-text mt-3 p-3">


    {{ include('sortie/_form.html.twig') }}

            </div>
        </div>
    </div>
</div>



{% endblock %}
