<nav>
    <ul>
        <li><a href="{{ path('home') }}">Page 1</a></li>
        <li><a href="{{ path('app_main_hello') }}">Page 2</a></li>
        <li><a href="{{ path('success') }}">Page 3</a></li>
        <li><a href="{{ path('app_main_fail') }}">Page 4</a></li>
    </ul>

</nav>